<template>
  <div>
    <TheHeader :authUser="flag" />
    <div>
      <router-view :key="$route.path"></router-view>
    </div>
  </div>
</template>

<script>
import TheHeader from "../components/TheHeader";
export default {
  name: "TheContainer",
  components: {
    TheHeader
  },
  data() {
    return {
      loading: true,
      authUser: false
    };
  },
  computed: {
    name() {
      return this.$route.name;
    },
    list() {
      return this.$route.matched.filter(
        route => route.name || route.meta.label
      );
    },
    flag() {
      if (this.authUser) {
        return true;
      } else return false;
    }
  },
  created() {
    const currentUser = this.$firebase.auth().currentUser;
    const userId = currentUser ? currentUser.uid : "";

    if (userId) {
      this.authUser = true;
    }
    this.watchAuthUser();
  },
  methods: {
    watchAuthUser: function () {
      this.$store.subscribe((mutation, state) => {
        if (mutation.type === "login/defUserId") {
          let userId = this.$store.getters["login/userId"];
          if (userId) {
            this.authUser = true;
          } else {
            this.authUser = false;
          }
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
