<template>
  <div>
    <b-modal
      :title="movie.title"
      v-model="flagShowDetail"
      no-close-on-backdrop
      hide-header-close
      size="md"
    >
      <b-row>
        <b-col lg="12">
          <p>
            <strong>Rating:</strong> {{ movie.rating }}
            <b-form-rating
              v-model="movie.rating"
              readonly
              variant="warning"
            ></b-form-rating>
          </p>
        </b-col>
        <b-col lg="12">
          <p><strong>Release date:</strong> {{ movie.release_date }}</p>
        </b-col>
      </b-row>

      <b-row>
        <b-col lg="12" v-if="movie.director != ''">
          <p>
            <strong>Director: </strong>
            {{ movie.cast_crew.director }}
          </p>
        </b-col>

        <b-col lg="12" v-if="movie.cast_crew.writingCredits.length > 0">
          <strong>Writing credits: </strong>
          <p
            v-for="(writer, iWriter) in movie.cast_crew.writingCredits"
            v-bind:key="iWriter"
          >
            {{ writer }}
          </p>
        </b-col>
        <b-col lg="12" v-if="movie.cast_crew.musicBy.length > 0">
          <strong>Music by: </strong>
          <p
            v-for="(musicBy, iMusician) in movie.cast_crew.writingCredits"
            v-bind:key="iMusician"
          >
            {{ musicBy }}
          </p>
        </b-col>
      </b-row>
      <template #modal-footer>
        <div class="w-100">
          <b-row style="margin: 0.5rem 0">
            <b-col class="centered" >
              <a 
                @click="hideModal" 
                class="my-2 my-sm-0 secondarybutton-menu">
                  Cancel
              </a>                
            </b-col>
          </b-row>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "DetailModal",
  props: ["flagShowDetail", "movie"],
  methods: {
    hideModal() {
      this.$store.commit("movie/defShowDetail", false);
    }
  }
};
</script>

<style lang="scss" scoped></style>
