<template>
  <div class="login">
    <b-row>
      <b-col lg="4" offset-lg="4">
        <b-card>
          <b-alert v-model="flagAlert" :variant="alertVariant" dismissible>
            {{ alertMsg }}
          </b-alert>
          <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <!-- title -->
            <b-form-group label="Title:" label-for="title">
              <b-form-input
                type="text"
                id="title"
                v-model.trim="$v.form.title.$model"
                :class="{
                  'form-control is-invalid': $v.form.title.$error,
                  'form-control is-valid': !$v.form.title.$invalid
                }"
                placeholder="Enter the title"
              ></b-form-input>
              <b-form-invalid-feedback v-if="!$v.form.title.required"
                >The movie title in mandatory</b-form-invalid-feedback
              >
            </b-form-group>

            <!-- genre id -->
            <b-form-group id="input-group-3" label="Genre:" label-for="input-3">
              <b-form-select
                id="input-3"
                v-model.trim="$v.form.genre_id.$model"
                :options="genres"
                 :class="{
                  'form-control is-invalid': $v.form.genre_id.$error,
                  'form-control is-valid': !$v.form.genre_id.$invalid
                }"
              ></b-form-select>
                 <b-form-invalid-feedback v-if="!$v.form.genre_id.required"
                >You must select a genre.</b-form-invalid-feedback
              >
            </b-form-group>            

            <!-- rating -->
            <b-form-group>
              <label for="score-creation" class="score-selector-label"
                >Rating: {{ form.rating }}</label
              >
              <b-form-rating v-model="form.rating" variant="warning">
              </b-form-rating>
            </b-form-group>

            <!-- release date  -->
            <b-form-group label-for="release_date" label="Release date">
              <b-form-input
                type="date"
                id="release_date"
                v-model.trim="$v.form.release_date.$model"
                :class="{
                  'form-control is-invalid': $v.form.release_date.$error,
                  'form-control is-valid': !$v.form.release_date.$invalid
                }"
                placeholder="Enter the title"
              ></b-form-input>
              <b-form-invalid-feedback v-if="!$v.form.release_date.required"
                >You must indicate the release date</b-form-invalid-feedback
              >             
            </b-form-group>

            <!-- Director -->
            <b-form-group label="Director:" label-for="title">
              <b-form-input
                type="text"
                id="director"
                v-model.trim="$v.form.cast_crew.director.$model"
                :class="{
                  'form-control is-invalid': $v.form.cast_crew.director.$error,
                  'form-control is-valid': !$v.form.cast_crew.director.$invalid
                }"
                placeholder="Enter the director"
              ></b-form-input>
              <b-form-invalid-feedback v-if="!$v.form.cast_crew.director.required"
                >The director is mandatory</b-form-invalid-feedback
              >
            </b-form-group>

            <!-- Writing credits -->
            <section>
              <b-card>
                <b-row>
                  <b-col cols="10">
                    <b-form-group
                      id="Writing credits:"
                      label="Writing credits:"
                      label-for="newWriter"
                    >
                      
                      <b-form-input
                        id="newWriter"
                        v-model="newWriter"
                        placeholder="Enter writer name"
                        :class="{
                          'form-control is-invalid': $v.form.cast_crew.writingCredits.$invalid,
                          'form-control is-valid': !$v.form.cast_crew.writingCredits.$invalid
                        }"
                      ></b-form-input>
                      <b-form-invalid-feedback 
                        v-if="!$v.form.cast_crew.writingCredits.mustBeAtleast1">
                          There must be at least 1 item
                      </b-form-invalid-feedback>
                    
                    </b-form-group>
                  </b-col>
                 
                  <b-col cols="2" style="margin: auto">
                    <b-button @click="addWriter"> + </b-button>
                  </b-col>
         
                  <b-col
                    lg="12"
                    v-for="(writer, iWriter) in form.cast_crew.writingCredits"
                    v-bind:key="iWriter"
                  >
                    <b-row style="margin-top: 0.2rem">
                      <b-col cols="10">
                        {{ writer }}
                      </b-col>
                      <b-col cols="2">
                        <b-button
                          size="sm"
                          variant="danger"
                          @click="deleteWriter(iWriter)"
                        >
                          <b-icon icon="trash"></b-icon>
                        </b-button>
                      </b-col>
                    </b-row>
                  </b-col>
                </b-row>
              </b-card>
            </section>
            <br />
            <!-- Music by -->
            <section>
              <b-card>
                <b-row>
                  <b-col cols="10">
                    <b-form-group
                      id="musicians:"
                      label="Music by:"
                      label-for="musicians"
                    >
                      <b-form-input
                        id="musicians"
                        v-model="newMusician"
                        placeholder="Enter musician name"
                        :class="{
                          'form-control is-invalid': $v.form.cast_crew.musicBy.$invalid,
                          'form-control is-valid': !$v.form.cast_crew.musicBy.$invalid
                        }"
                      ></b-form-input>
                      <b-form-invalid-feedback 
                        v-if="!$v.form.cast_crew.musicBy.mustBeAtleast1">
                          There must be at least 1 item
                      </b-form-invalid-feedback>
                    </b-form-group>
                  </b-col>
                  <b-col cols="2" style="margin: auto">
                    <b-button @click="addMusician"> + </b-button>
                  </b-col>

                  <b-col
                    lg="12"
                    v-for="(musician, iMusician) in form.cast_crew.musicBy"
                    v-bind:key="iMusician"
                  >
                    <b-row style="margin-top: 0.2rem">
                      <b-col cols="10">
                        {{ musician }}
                      </b-col>
                      <b-col cols="2">
                        <b-button
                          size="sm"
                          variant="danger"
                          @click="deleteMusician(iMusician)"
                        >
                          <b-icon icon="trash"></b-icon>
                        </b-button>
                      </b-col>
                    </b-row>
                  </b-col>
                </b-row>
              </b-card>
            </section>
            <hr />
            <b-row>
              <b-container>
                <b-row>
                  <b-col>
                    <b-button
                      type="submit"
                      class="primarybutton-menu"
                      variant="warning"
                    >
                      Create
                    </b-button>
                  </b-col>
                  <b-col class="centered">
                    <b-button
                      type="reset"
                      variant="warning"
                      @click="onReset"
                      class="secondarybutton-menu"
                    >
                      Reset
                    </b-button>
                  </b-col>
                </b-row>
              </b-container>
            </b-row>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
const URL = process.env.VUE_APP_URL;
import {
  required,
  minLength,
  maxLength,
  email,
  numeric,
  requiredUnless
} from "vuelidate/lib/validators";

const mustBeAtleast1 = (value) => value.length > 0;
export default {
  name: "Form",
  data() {
    return {
      form: {
        title: "",
        rating: 1,
        genre_id: null,
        cast_crew: {
          director: "",
          writingCredits: [],
          musicBy: []
        },
        release_date: null
      },

      genres: [
        { text: "Select One", value: null },
        { text: "Action", value: 1 },
        { text: "Anime", value: 2 },
        { text: "Comedy", value: 3 },
        { text: "Drama", value: 4 },
        { text: "Scifi", value: 5 },
        { text: "Horror", value: 6 }
      ],
      newWriter: "",
      newMusician: "",
      show: true,
      flagNewWriter: false,

      error: false,
      alertMsg: "",
      flagAlert: false,      
    };
  },
  validations: {
    form: {
      title: {
        required
      },
      genre_id: {
        required,
      },
      release_date: {
        required
      },
      cast_crew: {
        director: {
          required
        },
        writingCredits: {
          required,
          mustBeAtleast1
        },
        musicBy: {
          required,
          mustBeAtleast1
        },
      }
    }
  },
  computed: {
    writers() {
      if (this.flagNewWriter) {
        return this.form.writingCredits;
      } else {
        return [];
      }
    },
    alertVariant() {
      if(this.error){
        return 'danger'
      }else {
        return 'success'
      }
    }
  },
  methods: {
    onSubmit: async function (event) {
      event.preventDefault();
      this.$v.$touch()
      if (this.$v.$invalid) {  
        this.error = true;         
        this.flagAlert = true;
        this.alertMsg = "Please fill the form fields";
        window.scrollTo(0,0);
      } else {        
        this.onCreateMovie(event);
      }
     
    },
    onCreateMovie: async function(event){
      this.alertMsg = "";
      this.flagAlert = false;
      this.error = false
      try {
        let bodyS = JSON.stringify(this.form);
        let { body } = await this.$http.post(URL, bodyS);

        if (body) {
          this.alertMsg = body.message;
          this.flagAlert = true;
        }
      } catch (err) {
        console.log(err);
        if(err.body.message){
          alert(err.body.message);
        }else {
          alert('Internal server error');
        }
      }
    },
    onReset(event) {
      event.preventDefault();
      // Reset our form values
      this.form.title = "";
      this.form.rating = "";
      this.form.genre_id = null;
      this.form.cast_crew.director = "";
      this.form.cast_crew.writingCredits = [];
      this.form.cast_crew.musicBy = [];
      // Trick to reset/clear native browser form validation state
      this.show = false;
      this.$nextTick(() => {
        this.show = true;
      });
    },
    addMusician() {
      this.form.cast_crew.musicBy.push(this.newMusician);
      this.newMusician = "";
    },
    deleteMusician(iMusician) {
      this.form.cast_crew.musicBy.splice(iMusician, 1);
    },
    addWriter() {
      this.form.cast_crew.writingCredits.push(this.newWriter);
      this.newWriter = "";
    },
    deleteWriter(iWriter) {
      this.form.cast_crew.writingCredits.splice(iWriter, 1);
    }
  }
};
</script>

<style lang="scss" scoped>

</style>
