<template>
  <div class="main-div">
    <DetailModal
      v-if="movieToOpen != null"
      :flagShowDetail="flagShowDetail"
      :movie="movieToOpen"
    />
    <b-row
      v-for="(item, i) in catalog"
      v-bind:key="i"
      class="row-margin"
    >
      <b-col lg="12">
        <hr class="bg-white" v-if="i > 0" />
        <h4 class="heading-regular---20pt-hero">
          {{ item.genre }} ({{ item.count }})
        </h4>
      </b-col>

      <!-- Movie Content -->
      <b-col lg="10">
        <b-row>
          <!-- No movies content -->
          <b-col lg="3" md="4" sm="6" v-if="item.movies.length == 0 && flagMovies">
            <b-card class="card-locked">
              <b-card-body>
                <p>There are no movies in this category</p>
              </b-card-body>
            </b-card>
          </b-col>

          <!-- Render movies content -->
          <b-col
            lg="3"
            md="4"
            sm="6"
            v-else
            v-for="(movie, iMovie) in item.movies"
            v-bind:key="iMovie"
          >
            <b-card @click.prevent="openDetail(movie)" class="card-margin">
              <b-card-body>
                <p class="paragraph---18pt col-style">{{ movie.title }}</p>
                  {{ movie.release_date | dateFormat}}
              </b-card-body>
            </b-card>
          </b-col>
        </b-row>
      </b-col>

      <!-- Buttons -->
      <b-col lg="2" v-if="item.movies.length != 0" class="centered">
        <b-button
          size="sm"
          class="my-2 my-sm-0 btn-per"
          type="submit"
          pill
          variant="warning"
          v-if="item.flagBack"
          @click="showLess(item, i)"
        >
          -
        </b-button>
        <hr />
        <b-button
          size="md"
          class="my-2 my-sm-0 btn-per"
          type="submit"
          pill
          variant="warning"
          v-if="item.flagNext"
          @click="showMore(item, i)"
        >
          +
        </b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import DetailModal from "./DetailModal";
const URL = process.env.VUE_APP_URL;
export default {
  name: "Index",
  components: {
    DetailModal
  },
  data() {
    return {
      catalog: [],
      numReference: 3,
      flagMovies: true,
      flagShowDetail: false,
      movieToOpen: null
    };
  },
  created() {
    this.fetchMovies();
    this.watchs();
  },
  methods: {
    fetchMovies: async function () {
      try {
        let { body } = await this.$http.get(URL);
        if (body) {
          this.catalog = this.setMovies(body.data);
        }
      } catch (error) {
        alert(error);
      }
    },
    setMovies(catalog) {
      catalog.map(catalogItem => {
        let count = catalogItem.count;
        let perPage = catalogItem.perPage;
        if (count <= this.numReference) {
          catalogItem["flagNext"] = false;
          catalogItem["flagBack"] = false;
        } else {
          if (perPage <= this.numReference) {
            catalogItem["flagNext"] = true;
            catalogItem["flagBack"] = false;
          } else if (perPage >= count) {
            catalogItem["flagNext"] = false;
            catalogItem["flagBack"] = true;
          } else if (perPage < count) {
            catalogItem["flagNext"] = true;
            catalogItem["flagBack"] = true;
          }
        }
      });
      return catalog;
    },
    showMore: async function (catalogItem, iCatalog) {
      catalogItem.perPage += this.numReference;
      let perPage = catalogItem.perPage;
      let genre_id = catalogItem.genre_id;
      this.getMovieCatalog(genre_id, perPage, iCatalog);
    },
    showLess(catalogItem, iCatalog) {
      catalogItem.perPage -= this.numReference;
      let perPage = catalogItem.perPage;
      let genre_id = catalogItem.genre_id;
      this.getMovieCatalog(genre_id, perPage, iCatalog);
    },
    getMovieCatalog: async function (genre_id, perPage, iCatalog) {
      let body = {
        genre_id,
        perPage
      };
      let bodyS = JSON.stringify(body);
      this.flagMovies = false;

      try {
        let { body } = await this.$http.post(URL + "/catalog", bodyS);

        if (body) {
          let catalogByGenre = body.data;
          this.catalog[iCatalog] = null;
          this.catalog[iCatalog] = catalogByGenre;
          this.catalog = this.setMovies(this.catalog);
          this.flagMovies = true;
        }
      } catch (error) {
        alert("Internal Server Error");
      }
    },
    openDetail(movie) {
      this.movieToOpen = movie;
      this.flagShowDetail = true;
    },
    watchs() {
      this.$store.subscribe((mutation, state) => {
        if (mutation.type === "movie/defShowDetail") {
          this.flagShowDetail = this.$store.getters["movie/defShowDetail"];
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.main-div{
  padding-bottom: 4rem;
}
.col-style {    
  min-height:4em;
}
.card-margin{
  margin-bottom: 0.3rem;
}
.bg-white{
  background-color: white;
}
.row-margin{
  margin: 0.5rem 2.5rem 0.5rem 1rem;
}
.card-locked{
  background-color: #98a1b1;
}

</style>
