<template>
  <div class="login">
    <b-row>
      <b-col lg="4" offset-lg="4">
        <b-card>
          <b-card-body>
            <b-row v-if="error">
              <b-col cols="12">
                <div
                  class="alert alert-danger"
                  role="alert"
                  v-for="(error_message, i) in errors"
                  v-bind:key="i"
                >
                  {{ error_message }}
                </div>
              </b-col>
            </b-row>
            <b-container fluid>
              <b-row class="my-1">
                <b-col sm="3">
                  <label for="login">User </label>
                </b-col>
                <b-col sm="9">
                  <b-form-input
                    id="login"
                    type="text"
                    v-model="email"
                    placeholder="Email"
                  ></b-form-input>
                </b-col>
              </b-row>

              <b-row class="my-1">
                <b-col sm="3">
                  <label for="password">Password </label>
                </b-col>
                <b-col sm="9">
                  <b-form-input
                    id="password"
                    type="password"
                    v-model="password"
                  ></b-form-input>
                </b-col>
              </b-row>
              <br />
              <b-row>
                <b-col 
                  cols="12" 
                  style="text-align: center">
                    <a 
                      v-on:click="login" 
                      class="my-2 my-sm-0 secondarybutton-menu">
                      Login
                    </a>                  
                </b-col>
              </b-row>
            </b-container>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "Login",
  data: function () {
    return {
      email: "",
      password: "",
      error: false,
      errors: []
    };
  },
  methods: {
    login: async function () {
      try {
        let response = await this.$firebase
          .auth()
          .signInWithEmailAndPassword(this.email, this.password);
        if ("user" in response) {
          var user = response.user;
          var token = await user.getIdToken();
          var userId = user.uid;
          this.$store.commit("login/defUserId", userId);
          this.$router.replace("/dashboard");
        } else {
          this.error = true;
          this.errors.push("An error with the connection, try later!");
        }
      } catch (error) {
        this.error = true;
        if (error != null && "code" in error) {
          if (error.code == "auth/invalid-email") {
            this.errors.push("Invalid email");
          } else if (error.code == "auth/wrong-password") {
            this.errors.push("Invalid password");
          } else {
            this.errors.push("An error with the connection, try later!");
          }
        } else {
          this.errors.push("An error with the connection, try later!");
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
