<template>
  <div>
    <b-row>
      <b-col lg="4" offset-lg="4">
        <h1>404</h1>
        <h4>Oops! You're lost.</h4>
        <p>The page you are looking for was not found.</p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  export default {
    name: "Page404",

  }
</script>

<style lang="scss" scoped>

</style>