<template>
  <div class="main">
    <Movies />
  </div>
</template>

<script>
import Movies from "./movies/Index"
export default {
  name: "Dashboard",
  components: {
    Movies
  }
};
</script>
 
<style lang="scss" scoped>

</style>
