// Buttons
.btn-per {
  width: 9em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.2rem;
  padding: 0.9em 2em;
  border-style: solid;
  border-width: 2px;
  border-color: #ff8c00;
  border-radius: 100em;
  background-color: transparent;
  transition: color 400ms ease, border-color 400ms ease;
  font-family: "DM Sans", sans-serif;
  color: #ff8c00;
  font-size: 1em;
  line-height: 0.5em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: #ff8c009a;
  border-color: #ff8c009a;
  text-decoration: node;
}

.primarybuttonicon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8em 2.5em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 100em;
  background-color: #ff8c00;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  font-size: 1.1em;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.primarybutton-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 100em;
  background-color: #ff8c00;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  font-size: 1em;
  line-height: 0.5em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;

  width: 9em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.5rem;
  padding: 0.9em 2em;
}
.secondarybutton-menu {
  width: 9em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0.2rem;
  padding: 0.9em 2em;
  border-style: solid;
  border-width: 2px;
  border-color: #ff8c00;
  border-radius: 100em;
  background-color: transparent;
  transition: color 400ms ease, border-color 400ms ease;
  font-family: "DM Sans", sans-serif;
  color: #ff8c00;
  font-size: 1em;
  line-height: 0.5em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

// Background
.main{
  background-image: url(https://uploads-ssl.webflow.com/5f3acb2672fdcd41e36114fc/5f3acb2672fdcdd10e611543_Background.svg);
  background-position: 50% 50%;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: 100vh;
  margin-bottom: -1rem;
}

.login{
  background-image: linear-gradient(180deg, #e1e4e8, #e1e4e8);
  background-position: 50% 50%;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin-bottom: -1rem;
  min-height: 100vh;
  padding-top: 8%;
  padding-bottom: 4rem;
}

// Letters
.innerheroh1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'DM Sans', sans-serif;
  color: #fafbfb;
  font-size: 3.25em;
  line-height: 1.15em;
  font-weight: 500;
  letter-spacing: -1px;
}

.heading-regular---20pt-hero {
  width: 85%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: 'DM Sans', sans-serif;
  color: #98a1b1;
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 500;
  letter-spacing: 0px;
}

.paragraph---18pt {
  margin-top: 0%;
  margin-bottom: 0%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: 'DM Sans', sans-serif;
  color: #596780;
  font-size: 1.125em;
  line-height: 1.75em;
  font-weight: 400;
  letter-spacing: 0px;
}

.listitem.paragraph---16pt {
  margin-bottom: 20px;
  background-position: 0% 4px;
  color: #8a94a6;
  color: red
}

// General
.centered{
  text-align: center;
}