<template>
  <div>
    <div>
      <div>
        <b-navbar toggleable="lg" type="light" variant="light" fixed="top">
          <b-navbar-brand href="/">
            <img
              src="https://uploads-ssl.webflow.com/5f3acb2672fdcd41e36114fc/5f3acb2672fdcd5647611539_admiosdark.svg"
              alt=""
              class="admioslogo"
            />
          </b-navbar-brand>

          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

          <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav class="ml-auto">
              <b-nav-item
                @click.prevent="goToCreate"
                v-if="authUser && flagCreate"
              >
                Create movie
              </b-nav-item>              
              <a 
                class="my-2 my-sm-0 secondarybutton-menu"                
                @click.prevent="logout"
                v-if="authUser">
                  Logout
              </a> 
            </b-navbar-nav>
          </b-collapse>
        </b-navbar>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from "firebase";
export default {
  name: "TheHeader",
  props: ["authUser"],
  data() {
    return {
      flagCreate: true
    };
  },
  created() {},
  methods: {
    logout: async function () {
      try {
        await firebase.auth().signOut();
        this.$store.commit("login/defUserId", null);
        this.$router.replace("/pages/login");
      } catch (error) {
        console.log(error);
      }
    },
    goToCreate() {
      if (this.$route.path != "/movie/create") {
        this.$router.replace({ name: "movie-create" }).catch(_ => {});
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
