<template>
  <router-view></router-view>
</template>

<style lang="scss">
@import "~@/assets/scss/vendors/bootstrap-vue/index";
// Import Main styles for this application
@import "assets/scss/style";
</style>
